In [1]:
# Import pandas.
import pandas as pd

In [2]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [3]:
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [4]:
#Using the map() function we are going to change B to A, C to B, and D to C.
#To change each string value in this Series to another value using the following format.
#map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [5]:
#The Python format() Function

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
    
#Specify the format for the grade variable we would like by using {:.0f}.
#In this format, the grade variable is referenced in front of the colon, so there is no need to add the grade variable.
#After the colon, the .0f means to format the grade with no decimal place, where the "period" is for the decimal place, 
#the "0" is for "no" decimal place, and the "f" means floating-point decimal. 
#If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on.

92
85
87
98

In [6]:
#Chaining the map() and format() Functions

# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [7]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object